#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
    border-bottom: orange;
    border-bottom-style: solid;
    text-align: center;
}

#log-in {
    width: 80px;
    height: 40px;
}

.logOut {
    width: 100px;
    height: 50px;
    margin-left: 1695px;
}

.back {
    padding-left: 320px;
    text-decoration: none;
}

#registernow {
    margin-left: 160px;
    text-decoration: none;
}

#login-body {
    background-color: whitesmoke;
}

.form {
    margin-top: 120px;
    margin-left: 750px;
    margin-right: 750px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10%;
}

.login {
    height: 25px;
    width: 350px;
}

#register-body {
    background-color: whitesmoke;
}

.register {
    height: 25px;
    width: 350px;
}

.submit-form {
    background-color: orange;
    color: white;
    height: 30px;
    width: 250px;
    margin-left: 60px;
    border-radius: 5%;
}

#title-post {
    width: 350px;
    height: 40px;
    margin-top: 50px;
    margin-left: 700px;
    font-size: 30px;
}

#post {
    margin-left: 350px;
}

#body {
    background-color: whitesmoke;
}

.footer {
    border-top-style: solid;
    border-top-color: orange;
    margin-top: 100px;
}

#submit-post {
    margin-left: 840px;
    width: 80px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: blue;
}

#list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

.post-element {
    width: 200px;
}

#post-elements {
    text-decoration: none;
}

#creat-post {
    width: 100px;
    height: 50px;
}

.single-post {}

#title-single-post {
    text-align: center;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#value-single-post {
    font-size: 30px;
    background-color: whitesmoke;
    height: 100px;
    text-align: start;
}

#back-main {
    text-decoration: none;
    margin-left: 1850px;
}

.comments-wrap {
    margin-top: 150px;
}

#comm {
    font-size: 35px;
}

#comment-value {
    font-size: 25px;
}
