#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 700px;
    padding-top: 30px;
    border-bottom: orange;
    border-bottom-style: solid;
}

#log-in {
    width: 80px;
    height: 40px;
}

.logOut {
    width: 80px;
    height: 40px;
}

#back-login {
    padding-left: 280px;
    text-decoration: none;
}

#registernow {
    margin-left: 120px;
    text-decoration: none;
}

#login-body {
    background-color: whitesmoke;
}

.login-form {
    margin-top: 120px;
    margin-left: 700px;
    margin-right: 840px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10%;
}

.login {
    height: 25px;
    width: 300px;
}

#login-submit {
    background-color: blue;
    color: white;
    height: 30px;
    width: 250px;
    margin-left: 25px;
    border-radius: 5%;
}

#register-body {
    background-color: whitesmoke;
}

.register-form {
    margin-top: 120px;
    margin-left: 700px;
    margin-right: 840px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10%;
}

.register {
    height: 25px;
    width: 300px;
}

#register-submit {
    background-color: blue;
    color: white;
    height: 30px;
    width: 250px;
    margin-left: 25px;
    border-radius: 5%;
}

#title-post {
    width: 350px;
    height: 40px;
    margin-top: 50px;
    margin-left: 700px;
    font-size: 30px;
}

#post {
    margin-left: 350px;
}

#body {
    background-color: whitesmoke;
}

.footer {
    border-top-style: solid;
    border-top-color: orange;
    margin-top: 100px;
}

#submit-post {
    margin-left: 840px;
    width: 80px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: blue;
}
